.blok{
    display: inline-flex ;
    width: 365px;
    margin: 10px 5px 0px 0px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
}
.file .fa{
    font-size: 37px;
    transform: rotate(90deg);
    color: rgb(133, 132, 132);
    margin-right: 17px;
}
.file{
    width: max-content;
    display: flex;
    justify-content: center;
    max-width: 200px;
    
    align-items: center;
}
.delete{
    color : #FF6666;
}
.delete:hover{
    cursor: pointer;
    color : #FF6666;
}
.delete:active{
    cursor: pointer;
    color : rgb(221, 46, 46);
}
.delete .fa{
    margin-right: 6px;
}
.error{
    border: #FF6666;
}