.dropZone{
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center ;
    z-index: 1000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    outline-offset:-9px;
    outline:1px dashed #ccc;
}
.dropZone p{
    text-align: center;
    margin: 0 60px ;
}